<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="team.first.project.board.dao.BoardDAO">

	<select id="listCall" resultType="team.first.project.board.dto.BoardDTO">
		SELECT 
			(select count(new_filename) from photo p where p.idx = b.idx) as img_cnt
			,b.idx
			,b.subject
			,b.user_name
			,b.bHit
			,b.reg_date
		FROM bbs b order by idx desc;
	</select>	
	
	<select id="fileList" resultType="String">
		SELECT new_filename FROM photo WHERE idx = #{param1}
	</select>
	
	<delete id="del">
		DELETE FROM bbs WHERE idx = #{param1}
	</delete>
	
</mapper>