<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface 를 참조해서 사용해야 하는가? - 이름 설정에 주의한다. -->
<mapper namespace="kr.co.gudi.board.dao.BoardDAO">
	
	<select id="list" resultType="kr.co.gudi.board.dto.BoardDTO">
		SELECT idx, subject, user_name, bHit, reg_date FROM bbs
	</select>
	
	<delete id="delete">
		DELETE FROM bbs WHERE idx = #{param1}
	</delete>
	
	<insert id="write" parameterType="map">
		INSERT INTO bbs(subject, user_name, content)
			VALUES(#{subject}, #{user_name}, #{content})
	</insert>
	
	<!-- 하나짜리에서 parameter Type 명시해주면 이름으로 쓸 수 있다. -->
	<update id="upHit" parameterType="String">
		UPDATE bbs SET bHit = bHit+1 WHERE idx = #{idx}
	</update>
	
	<select id="detail" resultType="kr.co.gudi.board.dto.BoardDTO">
		SELECT * FROM bbs WHERE idx = #{param1} 
	</select>
	
	<update id="update" parameterType="map">
		UPDATE bbs SET subject=#{subject}, user_name=#{user_name}, content=#{content} WHERE idx = #{idx}
	</update>
	
</mapper>